<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
     <!-- charger le tag static -->

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <h1>HOME</h1>
    <p>Choisissez une action :</p>
    <ul>
        <li><a href="{% url 'upload' %}">Télécharger un fichier CSV</a></li>
        <li><a href="{% url 'overview' %}">Voir un aperçu des données</a></li>
        <li><a href="{% url 'visualize' %}">Visualiser les données</a></li>
        <li><a href="{% url 'statistics' %}">Analyse statistique</a></li>
    </ul>
</body>
</html>